
<div class="search">
	<input [(ngModel)]="userSearch" class="searchbar" type="text" placeholder="Whom are you looking for?">
</div>
<div class="usersList">
	<ul id="userList" class="displayList">
		<li class="names" *ngFor="let user of users | filter : userSearch;"
			(click)="selectUser(user.username)"> 
			<a *ngIf="user.username.toLowerCase() != currentUser" class="OtherUser">{{user.name}}
			<span	(click)="user_ellipsis('moreOptions')" class="dots"></span></a>
		</li>
	</ul>
</div>

<div id="moreOptions" class="options">
	<div class="window">
		<button class="closeBtn" id="close" (click)="closeModal('moreOptions')">X</button>
		<h4>About this Conversation</h4>
		<button class="accordion" (click)="getDetails()">User Details</button>
			<div class="panel">
				<div class="details">
				<span>Name: {{userDetails.name}}</span>
				<span>LastName: {{userDetails.lastname}}</span>
				<span>Date of Birth: {{userDetails.dob}}</span>
				<span>Company: {{userDetails.company}}</span>
				<span>Email: {{userDetails.email}}</span>
				<span>Mobile: {{userDetails.mobile}}</span>
				<span>City: {{userDetails.address}}</span>
			</div>
			</div>
		<button class="accordion">Shared Files</button>
			<div class="panel">
				<span>Coming Soon</span>
			</div>
	</div>
</div>



