<div class="search">
	<input [(ngModel)]="userSearch" class="searchbar" type="text" placeholder="Whom are you looking for?">
</div>
<div class="usersList">
	<ul id="userList" class="displayList">
		<div *ngFor="let user of users | filter : userSearch;">
			<div *ngIf="user.username.toLowerCase() != currentUser; then so else no"></div>
			<ng-template #so>
				<li class="names" (click)="selectUser(user.username)">
					<div *ngIf="user.profilePic==null; then p else d"></div>
					<ng-template #p>
						<img [src]="" id="userPic" />
						<a class="OtherUser">{{user.name}}
							<span (click)="user_ellipsis('moreOptions')" class="glyphicon glyphicon-menu-right"></span>
						</a>
					</ng-template>
					<ng-template #d>
						<img [src]="'data:image/jpeg;base64,'+user.profilePic" id="userPic" />
						<a class="OtherUser">{{user.name}}
							<span (click)="user_ellipsis('moreOptions')" class="glyphicon glyphicon-menu-right"></span>
						</a>
					</ng-template>
				</li>
			</ng-template>
		</div>
		<!--<li class="names" 	(click)="selectUser(user.username)">
			<img *ngIf="user.username.toLowerCase() != currentUser;" [src]="'data:image/jpeg;base64,'+user.profilePic" id="userPic" />
			<a *ngIf="user.username.toLowerCase() != currentUser" class="OtherUser">{{user.name}}
			<span	(click)="user_ellipsis('moreOptions')" class="dots"></span></a>
		</li>-->
	</ul>
</div>

<div id="moreOptions" class="options">
	<div class="window">
		<button class="closeBtn" id="close" (click)="user_ellipsis('moreOptions')">X</button>
		<h4>You are Looking At {{userDetails.name}}'s Profile</h4>
		<!--<button class="accordion" (click)="getDetails()">User Details</button>
		<div class="panel">
			<div class="details">
				<span>Name: {{userDetails.name}}</span>
				<span>LastName: {{userDetails.lastname}}</span>
				<span>Date of Birth: {{userDetails.dob}}</span>
				<span>Company: {{userDetails.company}}</span>
				<span>Email: {{userDetails.email}}</span>
				<span *ngIf="userDetails.mobile==0">Mobile: </span>
				<span *ngIf="userDetails.mobile!=0">Mobile: {{userDetails.mobile}}</span>
				<span>City: {{userDetails.address}}</span>
			</div>
		</div>
		<button class="accordion">Shared Files</button>
		<div class="panel">
			<span>Coming Soon</span>
		</div>-->
	</div>
</div>