<!--<div class="heading">My Friends 
</div>
<input [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li class="names" *ngFor="let c of characters | filter : searchText">
    {{c}}
  </li>
</ul>-->



<div class="search">
	<input [(ngModel)]="userSearch" class="searchbar" type="text" placeholder="Whom are you looking for?">
</div>
<div class="usersList">
	<ul>
		<li class="names" *ngFor="let user of users | filter : userSearch"
			(click)="selectUser(user.username)"><i>{{user.username}}</i> <span
			(click)="user_ellipsis('moreOptions')" class="dots"></span></li>
	</ul>
</div>

<div id="moreOptions" class="options">
	<div class="window">
		<button class="closeBtn" id="close" (click)="closeModal('moreOptions')">X</button>
		<h4>About this Conversation</h4>
		<button class="accordion">User Details</button>
			<div class="panel">
				<span> UserName</span>
			</div>
		<button class="accordion">Shared Files</button>
			<div class="panel">
				<span>Coming Soon</span>
			</div>
	</div>
</div>



