<!-- <div class="heading">My Groups</div>-->
<div class="addGroup">
	<button id="myButton" (click)="openModal()">
		<span>New Group</span><i class="glyphicon glyphicon-plus-sign"></i>
	</button>
</div>

<div id="myModal" class="modal">
	<div class="modal-contents">
		<input type="text" id="groupName" name="groupName" class="groupname">
		<button id="close" (click)="closeModal()" class="close">Close</button>
	</div>
</div>
<div class="circleList">
	<ul>
		<li *ngFor="let circle of circles"
			(click)="selectCircle(circle.circleName)">{{circle.circleName}}</li>
	</ul>
</div>
