.names {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	font-size: 10pt;
}

.names:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.10);
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 100px;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: transparent;
}

.modal-contents {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	height: 55%;
	border-radius: 20px;
}

.circleList {
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	float: right;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.addGroup button {
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	color: orange;
	font-size: 11pt;
	padding: 8px;
	outline: none;
	cursor: pointer;
}

.addGroup button:hover {
	background: rgba(255, 255, 255, 0.01);
}

.addGroup i {
	cursor: pointer;
	float: right;
	margin-top: 3px;
}

.groupname input {
	margin-top: 30px;
	margin-left: 120px;
	width: 400px;
	height: 40px;
	border-radius: 5px;
	font-size: 13pt;
	color: inhert;
	padding-left: 15px;
	font-family: Arial;
}

.groupname h3 {
	margin: 0; text-align : center;
	font-weight: 700;
	color: inherit;
	text-align: center;
}

.span {
	margin-left: 120px;
	margin-top: 25px;
	font-size: 11pt;
	color: inherit;
	font-weight: bold;
}

.closebox button {
	position: relative;
	width: 80px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgb(46, 166, 100);
	border-radius: 0.25em;
	margin-top: 20px;
	margin-left: 20px;
	float: right;
}

.groupname::placeholder {
	color: inherit;
	font-weight: 500;
	font-size: 11pt;
	font-family: Arial;
	opacity: 0.7;
}

.search {
	background: rgba(255, 255, 255, 0.1);
}

.searchbar {
	width: 100%;
	height: 40px;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	color: Orange;
	outline: none;
}

.dots:after{
  content: '\2807';
  font-size: 15px;
}

.names span{
	float:right;
}


.circleoptions{
	display: none;
	position: fixed;
	z-index:3;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: transparent;
	
}

.circlewindow{
	width:20%;
	height:60%;
	margin-right:25px;
	float:right;
	background: -webkit-linear-gradient(330deg, #000, #ff8080);
	background: linear-gradient(120deg, #000, #f0a6ca);
}

.circlewindow h4{
	color:rgba(255, 255, 255, 0.9);
	text-align: center;
	margin-top:30px;
}
.circlecloseBtn {
	font-size:16pt;
	float:right;
	margin:-5px;
	border-radius: 50%;
	background:#fdb0bc;
	color:#ffffff;
	border:none;
	outline:none;
	font-weight:bold;
}

.accordion {
    background-color: #fcf5f3;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin:0;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.addingUser{
	background-color: rgb(238, 182, 136);
	margin-left:30%;
	outline:none;
	border:none;
	padding:3px;
	border-radius: 4px;
}

#newUser{
	width:100%;
	height:100%;
	display:none;
	background-color:transparent;
	
}

#addUserWindow{
	width:40%;
	height:40%;
	margin:auto;
	background-color:white;
	border-radius: 20px;
}

#addUserWindow h4{
	text-align: center;
	font-size: 12pt;
	margin-top:10%;
	color:inherit;
	font-weight: bold;
	padding:30px;
}

#addUserWindow input{
	width:90%;
	padding:10px;
	margin-left:30px;
	border-radius: 5px;
	font-size: 12pt;
}

.buttons{
	width: 100%;
	padding:30px;
	margin-left:60%;
}

.buttons button{
	padding:10px;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgb(46, 166, 100);
	margin-left:10px;
	border-radius: 5px;
	font-weight: bold;
}
.userList {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	font-size: 10pt;
	font-weight: 500;
	color:black;
}