<div class="heading">Messages</div>
<ul id="messageArea">
	<li *ngFor="let message of messages">
		<div *ngIf="type == 'user'">
			<span class="alignRight" *ngIf="message.senderName == name">
				{{message.senderName}} to {{message.receiverId}}</span>
			<span class="alignLeft" *ngIf="message.senderName !=name">
				{{message.senderName}} to {{message.receiverId}}</span>
			<div class="msgRight" *ngIf="message.senderName == name">{{message.message}}</div>
			<div class="msgLeft" *ngIf="message.senderName !=name"> {{message.message}}</div>
		</div>
	</li>
</ul>

<div class="chatbox">
	<input type="text" [(ngModel)]='message' placeholder="Enter your message">
	<button class="glyphicon glyphicon-send" (click)='onClick(message,type)'>Send</button>
</div>