<div class="heading">Messages {{name}}</div>
<ul id="messageArea">
	<li *ngFor="let message of messages">
		<div *ngIf="type == 'user'">
			<span *ngIf="message.senderName == user">
				{{message.senderName}} to {{message.receiverId}}</span>
					<div> {{message.message}}</div>
		</div>
		<span *ngIf="message.senderName !=user">
				{{message.senderName}} to {{message.receiverId}}</span>
		<div>{{message.message}}</div>
	</li>
</ul>

<div class="chatbox">
	<input type="text" [(ngModel)]='message' placeholder="Enter your message">
	<button (click)='onClick(message,type)'>Send</button>
</div>

