.heading {
	width:100%;
	height:15%;
	background:rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.9);
	font-size: 0.9em;
	padding: 1em;
	font-weight: 900;
	margin:0;
}

.heading span{
	font-size: 24pt;
	margin:0;

}

#searchMsg{
	font-size: 11pt;
}

.heading input{
	background: url("../search-icon-hi.png");
	background-repeat: no-repeat;
	background-color: white;
	width:25px;
	height:25px;
	border-radius: 5px;
	margin-right: 20px;
	border:none;
	outline:none;
	float:right;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	font-weight: normal;
}

.heading input:focus{
	width:200px;
	padding-left:30px;
	color:black;
}

#chatbox{
	width:100%;
	height:20%;
}

#chatbox input {
	background: rgba(255, 255, 255, 0.09);
	position: absolute;
	border-radius:10px;
	bottom: 5px;
	left: 30%;
	border: none;
	width: 50%;
	height:50px;
	padding:1em;
	outline: none;
	color: rgba(255, 255, 255, 0.9);
	font-weight: 300;
	font-size: 12pt;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.9);
}

#chatbox button {
	width:60px;
	height:35px;
	border-radius: 5px;
	float: right;
	margin-right: 18%;
	margin-top:15px;
	font-size: 20pt;
	color:green;
	background: rgb(132, 177, 132);
}

#messageWindow{
	width:100%;
	height:83%;
	overflow: auto;	
}

#messageArea{
	color: beige;
	list-style-type: none;
	overflow: hidden;
}

.alignRight{
	width:50%;
	height:1%;
	color: rgb(15, 59, 182);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	float:right;
	padding: 5px;
	margin-right: 10px;
	margin-top:10px;
	font-weight: bold;
	font-size: 12pt;
}

.alignLeft{
	width:50%;
	height:1%;
	color: rgb(16, 168, 214);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	float:left;
	padding: 5px;
	margin-left: 5px;
	margin-top:10px;
	font-weight: bold;
	font-size: 12pt;
}
.msgRight{
	width:50%;
	height:auto;
	float:right;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 25px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	overflow:auto;
	font-size: 11pt;
}

.msgLeft{
	width:50%;
	height:auto;
	float:left;
	padding: 20px;
	margin-left: 5px;
	margin-bottom: 25px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	overflow:auto;
	font-size: 11pt;
}