.body {
	margin:0;
	width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(330deg, #000, #f0a6ca);
	background: linear-gradient(120deg, #000, #f0a6ca);
	overflow: hidden;
}

#tabs input[type="radio"] {
	position: absolute;
	display: none;
	margin:0;
}

#tabs input:checked + label{
	color:red;
	background: rgba(255, 255, 255, 0.1);
	font-size: 13pt;
	padding: 0.8em;
}

#tabs label {
	width:49.5%;
	/*background: rgba(255, 255, 255, 0.05);*/
	color: rgba(255, 255, 255, 0.9);
	font-size: 10pt;
	padding: 1em;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

#tab2:checked ~ #friends, #tab1:checked ~ #group {
	display: none;
}


.left {
	text-decoration: none;
	float: left;
	width: 100%;
	height: 100vh;
	margin:0;
}

#friends {
	text-decoration: none;
	height: 82vh;
}

#group {
	text-decoration: none;
	height: 82vh;
}

* {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
}

.column.middle {
	float: left;
	width: 100%;
	height: 85vh;
}

.leftside{
	width:20%;
	float: left;
	height: 100vh;
}
.centerSpace{
	float:left;
	width:80%;
}


#messageSec{
	width:100%;
	height:80vh;
}
#heading{
	width:240px;
	height:55px;
	position: relative;
	float:right;
}

#heading i{
	font-size: 8pt;
	font-weight: 0;
}

#smallImage{
	width:50px;
	height:45px;
	border-radius: 50%;
	background-image: url('pp.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-top:2px;
	position:fixed;
	margin-left:10px;
}


#header{
	width:50%;
	color: black;
	padding: 10px 14px;
	font-size: 12pt;
	font-weight: 900;
    text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	position:fixed;
	margin-left: 4%;
	
}

#heading:hover {
	background: rgba(255, 255, 255, 0.473);
}
#heading:hover .dropdown {
	display:block;
	margin-top:55px;
}

.dropdown {
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown a{
	color: black;
    padding: 12px 16px;
	text-decoration: none;
	font-size: 11pt;
	display: block;
	text-align: center;
}

.dropdown a:hover{
	background: orange;
	cursor:pointer;
	font-size: 14pt;
	font-weight: 600;
	-webkit-transition: font-size 0.2s ease-in-out;
	transition: font-size 0.2s ease-in-out;
}

#addData{
    display: none;
    width: 100%;
	z-index: 1;
	position:fixed;
}

.closeBtn{
	float:right;
	cursor: pointer;
	margin-top:-15px;
	margin-right: -10px;
	position: relative;
	width:35px;
	height:35px;
	background: black;
	border-radius: 50%;
	font-size: 18pt;
	font-weight: bolder;
	text-align: center;
   	color:rgba(55, 255, 255, 0.9);
}

#userForm{
	margin:0 auto;
	margin-top:15px;
    width:800px;
    height:auto;
    background: rgb(255, 255, 255);
	border-radius: 10px;
	z-index: 1;
	position: relative;
}

#userForm h4{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 900;
    color:rgb(235, 127, 26);
}

#AboutMe{
	width:70%;
	height:auto;
	float:left;
}

#thatsMe{
	width:30%;
	height:auto;
	float:right;
}

.check{
	margin-left: 80%;
	font-size: 11pt;
}

.cancel{
	color:rgb(17, 17, 17);
	font-weight: 500;
	margin-right:20px;
	cursor: pointer;
}

.buttons{
    background: rgb(96, 158, 96);
    color:white;
	position: relative;
	width:80px;
    height: 30px;
	border-radius: 5px;
	font-weight: bold;
	margin-bottom: 10px;
}

#displayForm{
	display:none;
}

#updateSection{
	width:800px;
	margin:0 auto;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin-top:15px;
}

#updateSection h4{
	text-align: center;
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 900;
    color:rgb(235, 127, 26);
}

#picture{
	width:80%;
	height:40vh;
}

#profilePic{
	margin-left: 25px;
}

#profilePic input{
	width:95px;
}

#displayArea{
	width:100%;
	z-index: 1;
}

.updateDet{
	
	color:rgb(36, 35, 35);
	margin-left:45%;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	padding:5px;
	background: rgb(101, 202, 101);	
	margin-bottom: 25px;
}

.TextArea{
	text-align: left;
	font-size: 12pt;
	margin: 15px 50px;
}

.TextArea label{
	width:100px;
}
.TextArea span{
	margin-left: 60px;
	color:rgb(1, 29, 8)
}

#image{
	margin-left:25%;
	padding:15px;
	width:300px;
	height: 350px;
	margin-bottom: 5px;
}


#uploadImage{
	width:100%;
	height:auto;
	display: none;
	position: absolute;
}

.photoUpload{
	width:600px;
	margin: 25px auto;
	height:auto;
	background:rgba(255, 255, 255, 0.9);
	border-radius: 20px;
	position: relative;
}

.photoUpload input{
	display: inline-block;
	width:70%;
	height:30px;
	margin-top:25px;
	margin-left: 50px;
	border-radius: 2px;
	background: rgba(233, 229, 229, 0.89);
	font-size: 11pt;
}

.photoUpload h4{
	padding:30px;
	text-align: center;
	font-weight: bold;
	color: rgb(212, 164, 73);
	border-bottom: solid black;
	font-size: 18pt;
}

.photoUpload span{
	float:right;
	position: relative;
	margin-top:-10px;
	margin-right:-10px;
	font-size: 16pt;
	width:30px;
	height: 30px;
	border-radius: 60%;
	background-color: black;
	color:white;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
}

.photoUpload button{
	width:30px;
	height:28px;
	font-size: 16pt;
	float:right;
	margin-top:25px;
	margin-right: 75px;
	background: transparent;
	border:none;
	outline: none;
}

.sections{
	width:100%;
	height:auto;
	margin-top:30px;
}


.inputBoxes{
	font-size: 12px;
    color: #555555;
    line-height: 1.2;
    border-radius: 5px;
    border-color: rgba(43, 41, 41, 0.068);
    width: 40%;
    height: 40px;
    background: transparent;
	padding: 10px 10px;
	margin-left: 20px;
	margin-top:15px;
	margin-bottom: 20px;
	
}

.labels{
	position: absolute;
	margin-top:20px;
	width: 50%;
	height:auto;
	margin-left:-310px;
	pointer-events: none;
	font-size: 14pt;
}

.inputBoxes:focus + .labels{
	font-size:8pt;
	margin-top:-1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.inputBoxes:valid + .labels{
	font-size:8pt;
	margin-top:-1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;   
}

.dob{
	font-size: 8px;
	font-weight: bold;
}
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: rgb(240, 209, 152); }
