<div class="body">

	<div class="leftside">
		<div class="left">
			<div id="tabs">
				<input type="radio" id="tab1" name="tabs" checked>
				<label for="tab1">Friends</label>
				<input type="radio" id="tab2" name="tabs">
				<label for="tab2">Group</label>
				<section id="friends">
					<app-users (selectedUser)="onSelect($event)"></app-users>
				</section>

				<section id="group">
					<app-circle (selectedCircle)="onSelect($event)"></app-circle>
				</section>
			</div>
		</div>
	</div>

	<div class="centerSpace">

		<div class="heading">
			<img [src]="url" id="smallImage" (click)="openModal('uploadImage')" />
			<a id="header" (click)="openModal('addData')">{{uname.name}} {{uname.lastname}}</a>
			<div class="dropdown">
				<a (click)="signOut()">Sign Out</a>
				<a ng-href="#">About</a>
			</div>
		</div>

		<div class="column middle">
			<app-message [messageObj]="currentSelected"></app-message>
		</div>
	</div>

	<div id="uploadImage">

		<div class="photoUpload">
			<span (click)="closeModal('uploadImage')">X</span>
			<h4>Upload Photo</h4>
			<input type="file" id="files" name="myFile" (change)="uploadImages($event)"/>
			<button id="uplBtn" class="glyphicon glyphicon-upload" (click)="Upload()"> Upload</button>
			<img id="image" [src]="url" />
			
			

		</div>
	</div>


	<div id="addData">

		<div id="userForm">
			<span class="closeBtn" (click)="closeModal('addData')">X</span>
			<h4>Personal Details</h4>

			<div id="AboutMe">
				<div id="displayArea">

					<div class="TextArea">
						<label>Name </label>
						<span id="UserName">{{uname.name}}</span>
					</div>

					<div class="TextArea">
						<label>LastName </label>
						<span id="lastName">{{uname.lastname}}</span>
					</div>

					<div class="TextArea">
						<label>Date of Birth </label>
						<span id="DateOfBirth">{{uname.dob}}</span>
					</div>

					<div class="TextArea">
						<label>Email-Id </label>
						<span id="emailId">{{uname.email}}</span>
					</div>

					<div class="TextArea">
						<label>Qualification </label>
						<span id="Edu">{{uname.education}}</span>
					</div>

					<div class="TextArea">
						<label>Company </label>
						<span id="Comp">{{uname.company}}</span>
					</div>

					<div class="TextArea">
						<label>Mobile </label>
						<span id="contact" *ngIf="uname.mobile==0">-</span>
						<span id="contact" *ngIf="uname.mobile!=0">{{uname.mobile}}</span>
					</div>

					<div class="TextArea">
						<label>City </label>
						<span id="city">{{uname.address}}</span>
					</div>
				</div>
			</div>

			<div id="thatsMe">
				<img [src]="url" id="picture" />
			</div>
			<button class="btn btn-primary btn-sm updateDet" (click)="openModal('displayForm');closeModal('userForm')">Update</button>
			<!--<button class="updateDet" (click)="openModal('displayForm');closeModal('userForm')">Update</button>-->

		</div>
		<div id="displayForm">
			<div id="updateSection">
					<span class="closeBtn" (click)="closeModal('addData')">X</span>
				<h4>Update Information</h4>
				<form #updateform="ngForm" (ngSubmit)="updateDetails(updateform)" role="form" method="post">
					<div class="sections">


						<input type="text" class="inputBoxes" name="name" id="name" autocomplete="off" ngModel required>
						<label class="labels">Name</label>

						<input type="text" class="inputBoxes" name="lastname" id="lastname" autocomplete="off" ngModel required>
						<label class="labels">LastName</label>

						<input type="number" class="inputBoxes" name="mobile" id="mobile" autocomplete="off" ngModel required>
						<label class="labels">Mobile</label>

						<input type="email" class="inputBoxes" name="email" id="email" autocomplete="off" ngModel required>
						<label class="labels">Email-Id</label>

						<input type="date" class="inputBoxes" name="dob" id="dob" ngModel>
						<label class="labels dob">Date Of Birth</label>

						<input type="text" class="inputBoxes" name="education" id="education" autocomplete="off" ngModel required>
						<label class="labels">Qualification</label>

						<input type="text" class="inputBoxes" name="address" id="address" autocomplete="off" ngModel required>
						<label class="labels">City</label>

						<input type="text" class="inputBoxes" name="company" id="company" autocomplete="off" ngModel required>
						<label class="labels">Company</label>
					</div>

					<div class="check">
						<span class="cancel" (click)="openModal('userForm');closeModal('displayForm')">Cancel</span>
						<button class="buttons">Update</button>
					</div>

				</form>
			</div>
		</div>

	</div>


</div>