<div class="body">

	<div class="leftside">
		<div class="left">
			<div id="tabs">
				<input type="radio" id="tab1" name="tabs" checked>
				<label for="tab1">Friends</label>
				<input type="radio" id="tab2" name="tabs">
				<label for="tab2">Group</label>
				<section id="friends">
					<app-users (selectedUser)="onSelect($event)"></app-users>
				</section>

				<section id="group">
					<app-circle (selectedCircle)="onSelect($event)"></app-circle>
				</section>
			</div>
		</div>
	</div>

	<div class="centerSpace">
		<div class="heading">
			<a id="header" (click)="openModal('addData')">{{uname.name}} </a>
			<div class="dropdown">
				<a (click)="signOut()">Sign Out</a>
				<a ng-href="#">About</a>
			</div>
		</div>

		<div class="column middle">
			<app-message [messageObj]="currentSelected"></app-message>
		</div>
	</div>

	<div id="addData">
		<div id="userForm">
			<button class="closeIcon" (click)="closeModal('addData')">X</button>
			<h4>Personal Details</h4>
			<form>
				<div class="inputSection">
				<input type="text" class="inputBox" name="name" id="name" required>
				<label class="focus-input">Name</label>
				</div>

				<div class="inputSection">
					<input type="text" class="inputBox" name="lastname" id="lastname">
					<label class="focus-input">LastName</label>
				</div>
				<div class="inputSection">
					<input type="text" class="inputBox" name="education" id="education">
					<label class="focus-input">Qualification</label>
				</div>

				<div class="inputSection">
					<input type="text" class="inputBox" name="address" id="address">
					<label class="focus-input">Address</label>
				</div>

				<div class="inputSection">
					<input type="text" class="inputBox" name="company" id="company">
					<label class="focus-input">Company</label>
				</div>
				
				<div class="inputSection">
					<input type="text" class="inputBox" name="mobile" id="mobile">
					<label class="focus-input">Company</label>
				</div>
				
				<div class="inputSection">
					<input type="text" class="inputBox" name="email" id="email">
					<label class="focus-input">Email-Id</label>
				</div>
				<div class="inputSection">
					<input type="date" class="inputBox" name="dob" id="dob" >
					<label class="focus-input dob">Date Of Birth</label>
				</div>

				<div class="inputSection btn">
					<button class="buttons">Close</button>
					<button class="buttons">Update</button>
				</div>


			</form>


		</div>
	</div>

</div>